{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{#    <div class="container-fluid">#}
{#  TODO   revoir la mise en page du form Registration #}
    <!-- Sign out -->
    <div class="page-sign-in-out">
        <div class="container">
            <div class="row align-items-center">
            {#                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 i">#}
            {#                    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-2 i">#}
            <div class="box signInOutWrap signin">
                <h2 class="text-center">Register</h2>
                {{ form_start(registrationForm) }}
                    {{ form_widget(registrationForm.email) }}
                    <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
            </div>
        </div>
    </div>

{#                        <div class="c">#}
{#                            <form data-parsley-validate>#}
{#                                <div class="row">#}
{#                                    <div class="col-xs-12 user">#}
{#                                        <i class="fa fa-user icon"></i>#}
{#                                        <input type="text" placeholder="Email address" class="input" required data-parsley-error-message="Please enter email address">#}
{#                                    </div>#}
{#                                    <div class="col-xs-12 password">#}
{#                                        <i class="fa fa-lock icon"></i>#}
{#                                        <input type="password" placeholder="Password" class="input">#}
{#                                    </div>#}
{#                                    <div class="col-xs-6 col-sm-12 col-md-7">#}
{#                                        <label class="checkbox">#}
{#                                            <input type="checkbox">#}
{#                                            <span>I  agree to the terms of service</span>#}
{#                                        </label>#}
{#                                    </div>#}
{#                                    <div class="col-xs-6 col-sm-12 col-md-5 text-right signInBtn">#}
{#                                        <button class="btn btn-color-full" type="submit"><span>Register</span></button>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock %}