{% block  carroussel %}

    <!-- Main carousel -->
    <div class="mainCarousel mainCarousel-1">
        <div class="container">
            <div class="c-row">
                <div class="js-main-carousel-1">
                    <article class="i article">
                        <a href="post-detail-standard.html" title="#">
                            <img src="{{ asset('tmp/580x550-1.jpg') }}" alt="#" width="580" height="550" class="img-responsive">
                        </a>
                        <div class="c">
                            <h2 class="title">
                                <a href="post-detail-standard.html" title="#">We are all apprentices in a craft where no one ever becomes a master.</a>
                            </h2>
                            <div class="info">
                                <a href="post-detail-standard.html" title="#">Creative</a>
                            </div>
                        </div>
                    </article>
                    <article class="i article">
                        <a href="post-detail-standard.html" title="#">
                            <img src="{{ asset('tmp/580x550-2.jpg') }}" alt="#" width="580" height="550" class="img-responsive">
                        </a>
                        <div class="c">
                            <h2 class="title">
                                <a href="post-detail-standard.html" title="#">I have no special talent. I am only passionately curious.</a>
                            </h2>
                            <div class="info">
                                <a href="post-detail-standard.html" title="#">Lifestyle</a>
                            </div>
                        </div>
                    </article>
                    <article class="i article">
                        <a href="post-detail-standard.html" title="#">
                            <img src="{{ asset('tmp/580x550-3.jpg') }}" alt="#" width="580" height="550" class="img-responsive">
                        </a>
                        <div class="c">
                            <h2 class="title">
                                <a href="post-detail-standard.html" title="#">There is no sincerer love than the love of food.</a>
                            </h2>
                            <div class="info">
                                <a href="post-detail-standard.html" title="#">Food</a>
                            </div>
                        </div>
                    </article>
                    <article class="i article">
                        <a href="post-detail-standard.html" title="#">
                            <img src="{{ asset('tmp/580x550-4.jpg') }}" alt="#" width="580" height="550" class="img-responsive">
                        </a>
                        <div class="c">
                            <h2 class="title">
                                <a href="post-detail-standard.html" title="#">And the most unusual and surrealistic place in New York is Central Park.</a>
                            </h2>
                            <div class="info">
                                <a href="post-detail-standard.html" title="#">Travel</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% endblock %}